.content-title {
    font-size: 25px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.section-title{
    font-family: "BaskervilleBT-Roman";
    font-size: 36px;
    color: #333;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
}