/* 

All custom styles!

*/

/* Global Custom CSS */

  .products .product .button {
    text-align: center;
    display: block;
    background-color: #CF0491;
    padding: 10px 10px;
    display: block; 
    color: #0fb4c2;
    margin: 1rem 0 0; 
color: #fff;}

/*Billing Fields*/

.woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#billing_email_field {
  order: 1;
	width: 100%;
}
#billing_first_name_field {
  order: 2;
	width: 50%;
}
#billing_last_name_field {
  order: 3;
	width: 50%;
}
#billing_phone_field {
  order: 4;
	width: 100%;
}
#billing_country_field {
  order: 5;
	width: 100%;
}
#find_address_postcode_field {
  order: 6;
	width: 100%;
}
#billing_company_field {
  order: 7;
	width: 100%;
}
#billing_address_1_field {
  order: 8;
	width: 100%;
}
#billing_address_2_field {
  order: 9;
  width: 50%;
}
#billing_city_field {
  order: 10;
	width: 50%;
}
#billing_postcode_field {
  order: 11;
	width: 50%;
}
#billing_state_field {
  order: 12;
	width: 50%;
}

/*Shipping Fields*/

.woocommerce-shipping-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#shipping_email_field {
  order: 1;
	width: 100%;
}
#shipping_first_name_field {
  order: 2;
	width: 50%;
}
#shipping_last_name_field {
  order: 3;
	width: 50%;
}
#shipping_phone_field {
  order: 4;
	width: 100%;
}
#shipping_country_field {
  order: 5;
	width: 100%;
}
#shipping_phone_field {
  order: 6;
	width: 100%;
}
#shipping_company_field {
  order: 7;
	width: 100%;
}
#shipping_address_1_field {
  order: 8;
	width: 100%;
}
#shipping_address_2_field {
  order: 9;
  width: 50%;
}
#shipping_city_field {
  order: 10;
	width: 50%;
}
#shipping_postcode_field {
  order: 11;
	width: 50%;
}
#shipping_state_field {
  order: 12;
	width: 50%;
}
.woocommerce-additional-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/*Addressian Field*/

#postcode-dropdown{width:100%;}
#postcode-dropdown-shipping{width:100%;}
.postcode_addr{width:100%;}
.postcode_addr_shipping{width:100%;}
.button.findaddr.button.alt{width:100%;background-color:#000;color:#fff;border-color:#000; font-weight:bold;font:inherit;height: 40px;}
.findaddr_shipping.button.alt{width:100%;background-color:#000;color:#fff;border-color:#000; font-weight:bold;font:inherit;height: 40px;}

/*Order Comments Field*/

#order_comments_field {
  order: 1;
	width: 100%;
}

/* Checkout Customisations*/

input[name='update_cart'] {
display: none !important;
}
.checkout.woocommerce-checkout.processing {
background-image:url('https://www.thebeautystore.com/wp-admin/images/loading.gif');
background-position: 50%;
background-repeat: no-repeat;
background-size: 30px 30px
}
.woocommerce-checkout form .payment_methods label {
display: none;
}

/*Email Signup*/

#mc_embed_signup { border: none; text-align: center; width: 100%; } /* Signup form container */

.mc-field-group { display: inline-block; } /* positions input field horizontally */

#mce-EMAIL { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1em; border: 1px solid #ABB0B2 ; color: #343434; background-color: #fff; padding: .7em 4em .7em 1em;display: inline-block; margin: 0; } /* Input Styles */

.clear { display: inline-block; } /* positions button horizontally in line with input */

input.button { font-family: 'Helvetica Neue', Helvetica,  Arial, sans-serif; font-weight: bold; font-size: 1em; letter-spacing: .03em; color: #fff; background-color: #000 ; padding: .7em 2em; border: 1px solid #000 ; -webkit-border-radius: 1px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Button Styles */


/* Clerk Search */

form.search-form.float-md-right {
    margin-top: 20px;
    position: relative;
    
}

input#clerk-searchfield {
    padding: 12px 20px;
    position: relative;
    border: 1px solid #d7d7d7;
    border-right: 0;
    background: #ffffff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

input.search-submit {
    float: right;
    color: #fff;
    background-color: #000;
    border-color: #000;
    padding: 0.2rem 1rem;
    font-size: 1.6rem;
	font-family: FontAwesome;
}