/* 
All custom styles!
*/

div#pay_with_amazon {
    display: none !important;
}


h1{font-size: 11px;}

ins {
    clear: both;
    display: block;
    font-weight: 700;
}

ins:before {content: "Multi Buy Price ";}

del {
    text-decoration: none;
}

.woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}
/* .woocommerce form .form-row {
} */
.woocommerce form .form-row input.input-text {
}
#billing_email_field {
  order: 1;
	width: 100%;
}
#billing_country_field {
  order: 2;
	width: 100%;
}
#billing_first_name_field {
  order: 3;
	width: 50%;
}
#billing_last_name_field {
  order: 4;
	width: 50%;
}
#billing_address_1_field {
  order: 5;
	width: 100%;
}
#billing_address_2_field {
  order: 6;
  width: 50%;
}
#billing_city_field {
  order: 7;
	width: 50%;
}
#billing_postcode_field {
  order: 8;
	width: 50%;
}
#billing_state_field {
  order: 9;
	width: 50%;
}
#billing_phone_field {
  order: 10;
	width: 100%;
}
.woocommerce-shipping-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#shipping_country_field {
  order: 1;
	width: 100%;
}
#shipping_first_name_field {
  order: 2;
	width: 50%;
}
#shipping_last_name_field {
 order: 3;
	width: 50%;
}
#shipping_address_1_field {
  order: 4;
	width: 100%;
}
#shipping_address_2_field {
  order: 5;
  width: 50%;
}
#shipping_city_field {
  order: 6;
	width: 50%;
}
#shipping_postcode_field {
  order: 7;
	width: 50%;
}
#shipping_state_field {
  order: 9;
	width: 50%;
}
.woocommerce-additional-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.woocommerce form .form-row {
}
.woocommerce form .form-row input.input-text {
}
#order_comments_field {
  order: 1;
	width: 100%;
}
input[name='update_cart'] {
display: none !important;
}
.checkout.woocommerce-checkout.processing {
background-image:url('https://www.thebeautystore.com/wp-admin/images/loading.gif');
background-position: 50%;
background-repeat: no-repeat;
background-size: 30px 30px
}
.woocommerce-checkout form .payment_methods label {
display: none;
}
#mc_embed_signup { border: none; text-align: center; width: 100%; } /* Signup form container */

.mc-field-group { display: inline-block; } /* positions input field horizontally */

#mce-EMAIL { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1em; border: 1px solid #ABB0B2 ; color: #343434; background-color: #fff; padding: .7em 4em .7em 1em;display: inline-block; margin: 0; } /* Input Styles */

.clear { display: inline-block; } /* positions button horizontally in line with input */

input.button { font-family: 'Helvetica Neue', Helvetica,  Arial, sans-serif; font-weight: bold; font-size: 1em; letter-spacing: .03em; color: #fff; background-color: #08b6c6 ; padding: .7em 2em; border: 1px solid #08b6c6 ; -webkit-border-radius: 1px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Button Styles */