.close_sidebar {
    margin-bottom: 1em;
    font-size: 12px;
}

#payment {
    #sagepaydirect-cc-form .wc-credit-card-form-card-type, #sagepaydirect-cc-form .wc-credit-card-form-card-number, #sagepaydirect-cc-form .wc-credit-card-form-card-expiry, #sagepaydirect-cc-form .wc-credit-card-form-card-cvc {
        font-size: 1rem;
    }
}

.content_tabs .content_tab header {
    cursor: pointer !important;
}

#main_nav .navigation_wrap .navigation > li .mega_menu {
    pointer-events: none;
}

#main_nav .navigation_wrap .navigation > li:hover .mega_menu, #main_nav .navigation_wrap .navigation > li:hover .brands-menu {
    pointer-events: auto;
}

.close_sidebar {
  margin-bottom: 1em; }