@font-face {
  font-family: 'bromello';
  src: url('../fonts/bromello/bromello-webfont.eot');
  src: url('../fonts/bromello/bromello-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bromello/bromello-webfont.woff2') format('woff2'),
  url('../fonts/bromello/bromello-webfont.woff') format('woff'),
  url('../fonts/bromello/bromello-webfont.ttf') format('truetype'),
  url('../fonts/bromello/bromello-webfont.svg#bromelloregular') format('svg');
  font-weight: normal;
  font-style: normal;

}